<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2>O formulário contém erros:</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <% if @room.errors.has_key? :title %> <!-- UMA MANEIRA DE EXIBIR ERROS-->
    <div class="error_message">
      <%= @room.errors[:title].first %>
    </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
    <%= error_tag @room, :location %> <!-- OUTRA MANEIRA DE EXIBIR ERROS COM OS HELPERS-->
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    <%= error_tag @room, :description %>
  </div>
  <div>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <%= error_tag @room, :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
