<!DOCTYPE html>
<html>
<head>
  <title>Colchonet</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div id="herder-wrap">
		<h1><%= link_to "colcho.net", root_path %></h1>
		<% if user_signed_in? %>
			<%= render 'layouts/user_navbar' %>
		<% else %>
			<%= render 'layouts/visitor_navbar' %>
		<% end %>
	</div>
</header>
<div id="content">
	<% if notice.present? %>
		<p id="notice"><%= notice %> </p>
	<% end %>
	<% if alert.present? %>
		<p id="alert"><%= alert %></p>
	<% end %>
</div>
<%= yield %>

</body>
</html>
